<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/indexStyles.css">
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/modern-business.css" rel="stylesheet" />
	<title>Inicio</title>
</head>

<body>
	<!--HEADER-->
	<header class="header">
		<div class="header__contenedor">
			<h2 class="header__logo">Grupo 8</h2>
		</div>
	</header>


	<main>

		<form th:action="@{/listPermisoFiltrado}" th:object="${lugar}" method="GET" class="form" id="form">
			<div>
				<label>
					Fecha Desde:
				</label>
				<input th:name="fechaDesde" class="fechaDesde" type='date' />
			</div>
			<div>
				<label>
					Fecha Hasta:
				</label>
				<input th:name="fechaHasta" class="fechaHasta" type='date' />
			</div>
			<div>
				<label>
					desdeHasta
				</label>
				<!--
				<select th:name="desdeHasta" class="desdeHasta">
					<option value="">hehe</option>
					<div th:each="lugar:${lugares}">
						<option th:text="${lugar.lugar}"></option>
					</div>
				</select> -->
				<!--
				<select required class="form__select">
					<!--option disabled class="form__select-option">Tipo de Usuario</option>-->
				<option th:each="lugar:${lugares}" th:value="${lugar.idLugar}" th:text="${lugar.lugar}"
					class="form__select-option">asdasdasd</option>
				</select>-->
				<select th:name="desdeHasta" class="form__select">
					<option value="" class="form__select-option">Todo</option>
					<option value="Temperley" class="form__select-option">Temperley</option>
					<option value="Lanus" class="form__select-option">Lanús</option>
					<option value="Lomas de Zamora" class="form__select-option">Lomas de Zamora</option>
					<option value="Remedios de Escalada" class="form__select-option">Remedios de Escalada</option>
					<option value="Villa Ballester" class="form__select-option">Villa Ballester</option>
				</select>
			</div>
			<!--
			<select th:field="${lugar.idlugar}" required class="form__select">
				<option disabled class="form__select-option">Tipo de Usuario</option>
				<option th:each="lugar:${lugares}" th:value="${lugar.id_lugar}" th:text="${lugar.lugar}"
					class="form__select-option">
				</option>
			</select>
			-->

			<div class="form form-button-enviar">
				<button class="form" type"submit">Filtrar</button>
			</div>
		</form>




		<h1>Listado de Permisos</h1>
		<div class="table-contenedor">

			<div class="tabla-header">
				<div class="tabla-header__herramientas">


				</div>
			</div>
			<table class="tabla" id="tabla">
				<thead class="tabla__head">
					<tr class="tabla__row-head">
						<th class="tabla__head-nombre" scope="col">Permiso Nro</th>
						<th class="tabla__head-nombre" scope="col">Nombre/s</th>
						<th class="tabla__head-nombre" scope="col">Apellido</th>
						<th class="tabla__head-nombre" scope="col">Fecha</th>
						<th class="tabla__head-nombre" scope="col">Desde / Hasta</th>
					</tr>
				</thead>
				<tbody class="tabla__body">
					<tr th:each="permiso:${permisos}" class="tabla__row-body">
						<td th:text="${permiso.idPermiso}" class="tabla__body-dato"></td>
						<td th:text="${permiso.persona.nombre}" class="tabla__body-dato"></td>
						<td th:text="${permiso.persona.apellido}" class="tabla__body-dato"></td>
						<td th:text="${permiso.fecha}" class="tabla__body-dato"></td>
						<td th:text="${permiso.desdeHasta}" class="tabla__body-dato"></td>
					</tr>
				</tbody>

			</table>
		</div>

		<form th:action="@{/logout}" method="post">
			<div class="button-contenedor">
				<!--<input class="logout-button" type="submit" value="Salir" /> Habilitar para los traerPermisos que necesitan iniciar sesión-->
			</div>
		</form>
	</main>

	<!--FOOTER-->
	<footer>
		<p id="derechos-info" class="derechos__info">Todos los derechos reservados</p>
		<div class="redes-sociales">
			<a href="https://github.com/SebastianMMacario/Grupo-08-OO2-2021" target="_BLANK"
				class="redes-sociales__red"><i class="fab fa-github"></i> </a> </div>
	</footer>

	<!--SCRIPT-->
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/js/usuariosFunciones.js"></script>

</body>

</html>