<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/registerStyles.css">
    <title>Agregar Usuario</title>
</head>
<body>
        <!--ENCABEZADO-->
        <header class="header">
            <div class="header__contenedor">
                <h2 class="header__logo">Grupo 8</h2>
            </div>
        </header>

        <!--FORMULARIO-->
        <main>
            <h1 class="titulo">Complete el formulario</h1>



            <form th:action="@{/save}" th:object="${usuario}" method="POST" class="form" id="form">
	             
				<!--ID-->
				<div class="form-group" style="display: none;">
					<p style="display: none"> <label>ID</label></p>
					<p style="display: none"> <input th:field="*{idUsuario}" type="text" class="form-control" /></p>
				</div>
                
                <!--APELLIDO-->
                <div class="form__grupo" id="grupo__apellido">
                    <label for="apellido" class="form__label">Apellido</label>
                    <div class="form__grupo-input">
                        <input th:field="${usuario.apellido}" type="text" name="apellido" class="form__input" id="apellido">
                        <i class="fas fa-times-circle form__validacion-estado"></i>
                    </div>
                    <p class="form__error-input-msg">El apellido solo puede contener caracteres</p>
                </div>
    
                <!--NOMBRE-->
                <div class="form__grupo" id="grupo__nombre">
                    <label for="nombre" class="form__label">Nombre</label>
                    <div class="form__grupo-input">
                        <input th:field="${usuario.nombre}" type="text" name="nombre" class="form__input" id="nombre">
                        <i class="fas fa-times-circle form__validacion-estado"></i>
                    </div>
                    <p class="form__error-input-msg">El nombre solo puede contener caracteres</p>
                </div>
    
                <!--DOCUMENTO-->
                <div class="form__grupo" id="grupo__nroDocumento">
                    <label for="documento" class="form__label">Numero de documento</label>
                    <div class="form__grupo-input">
                    
                        <select th:field="${usuario.tipoDocumento}" class="form__select">
                            <!--<option disabled class="form__select-option">Tipo de Documento</option> -->
                            <option th:each="e : ${enum}" th:value="${e}"  th:text="${e}"  class="form__select-option" value=""></option>
                         
                        </select>
                        
                        <input th:field="${usuario.nroDocumento}" placeholder="11111111" type="text" class="form__input" name="nroDocumento" id="nroDocumento">
                        <i class="fas fa-times-circle form__validacion-estado"></i>
                    </div>
                    <p class="form__error-input-msg">El documento debe contener 8 numeros</p>
                </div>
    
                <!--USER-->
                <div class="form__grupo" id="grupo__nombreUsuario">
                    <label for="usuario" class="form__label">Usuario</label>
                    <div class="form__grupo-input">
                    
                        <select th:field="${usuario.perfil.idPerfil}" required class="form__select" >
                            <!--option disabled class="form__select-option">Tipo de Usuario</option>-->
                            <option th:each="perfil:${perfiles}" th:value="${perfil.idPerfil}"  th:text="${perfil.tipoPerfil}" class="form__select-option" />
                          
                        </select>
                        
                        <input th:field="${usuario.nombreUsuario}" type="text" name="nombreUsuario" class="form__input" id="nombreUsuario">
                        <i class="fas fa-times-circle form__validacion-estado"></i>
                    </div>
                    <p class="form__error-input-msg">El usuario tiene que ser de 4 a 16 digitos y solo pude contener numeros,letras y guion bajo</p>
                </div>
    
                <!--PASSWORD-->
                <div class="form__grupo" id="grupo__password">
                    <label for="password" class="form__label">Contraseña</label>
                    <div class="form__grupo-input">
                        <input th:field="${usuario.password}" type="password" name="password" class="form__input" id="password">
                        <i class="fas fa-times-circle form__validacion-estado"></i>
                    </div>
                    <p class="form__error-input-msg">La contraseña tiene que ser de 4 a 12 digitos</p>
                </div>
    
    
                <!--EMAIL-->
                <div class="form__grupo" id="grupo__email">
                    <label for="email" class="form__label">Correo Electronico</label>
                    <div class="form__grupo-input">
                        <input th:field="${usuario.email}" placeholder="correo@correo.com" type="email" name="email" class="form__input" id="email">
                        <i class="fas fa-times-circle form__validacion-estado"></i>
                    </div>
                    <p class="form__error-input-msg">El correo solo puede contener letras,puntos,guiones y guion bajos</p>
                </div>
    
                <!--MSG DE ERROR-->
                <div class="form__msg-error" id="form__msg-error">
                    <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Porfavor rellene el formulario correctamente</p>
                </div>
    
                <!--BUTTON-->
                <div class="form__grupo form__grupo-button-enviar">
                    <button th:if="${editMode == null}" class="form__button" type="submit">AGREGAR</button>
                    <button th:if="${editMode == true}" class="form__button" type="submit">MODIFICAR</button>

                </div>
                
                <p class="form__info" style="font-size: 1.15em;">
                	<a th:href="@{/cancelAction}" href="#">Cancelar</a> 
                </p>
            </form>
        </main>
    
        <!--FOOTER-->
        <footer>
            <p id="derechos-info" class="derechos__info">Todos los derechos reservados</p>
            <div class="redes-sociales">
                <a href="#" class="redes-sociales__red"><i class="fab fa-github"></i> </a>
            </div>
        </footer>
   
        <!--SCRIPT-->
        <script src="/js/agregarUsuario.js"></script>
</body>
</html>