<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/indexStyles.css">
    <title>Inicio</title>
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="header__contenedor">
            <h2 class="header__logo">Grupo 8</h2>
            <nav class="nav">
                <a href="#" class="nav__enlace">Registrate</a>
                <a href="#" class="nav__enlace">Incia Sesion</a>
            </nav>
        </div>
    </header>

    <main>
        <h1>Listado de Usuarios</h1>

        <div class="table-contenedor"> 
        
            <div class="tabla-header">
                <div class="tabla-header__herramientas">
                    <a class="tabla-header__button" href="#"> 
                        <i class="fas fa-plus-circle"></i>Agregar Usuario
                    </a>
                    <a class="tabla-header__button" href="#"> 
                        <i class="fas fa-file-pdf"></i>Generar PDF
                    </a> 
                </div>
            </div>
            <table class="tabla" id="tabla">
                <thead class="tabla__head">
                    <tr class="tabla__row-head">
                        <th class="tabla__head-nombre" scope="col">Apellido</th>
                        <th class="tabla__head-nombre" scope="col">Nombre</th>
                        <th class="tabla__head-nombre" scope="col">Documento</th>
                        <th class="tabla__head-nombre" scope="col">Usuario</th>
                        <th class="tabla__head-nombre" scope="col">E-mail</th>
                        <th class="tabla__head-nombre" >Acciones</th>
                    </tr>
                </thead>
                <tbody class="tabla__body">
                    <tr class="tabla__row-body">
                        <td class="tabla__body-dato">Apellido1</td>
                        <td class="tabla__body-dato">Nombre1</td>
                        <td class="tabla__body-dato">11111111</td>
                        <td class="tabla__body-dato">usuario1</td>
                        <td class="tabla__body-dato">correo1@correo.com</td>
                        <td class="tabla__body-dato">
                            <a class="tabla__boton-editar" href="#"><i class="fas fa-edit"></i></a>
                            <a class="tabla__boton-eliminar" href="#" ><i class="fas fa-user-times"></i></a> </td>
                        </td>
                    </tr>
                </tbody>
                <tbody class="tabla__body">
                    <tr class="tabla__row-body">
                        <td class="tabla__body-dato">Apellido2</td>
                        <td class="tabla__body-dato">Nombre2</td>
                        <td class="tabla__body-dato">22222222</td>
                        <td class="tabla__body-dato">usuario2</td>
                        <td class="tabla__body-dato">correo2@correo.com</td>
                        <td class="tabla__body-dato">
                            <a class="tabla__boton-editar" href="#"><i class="fas fa-edit"></i></a>
                            <a class="tabla__boton-eliminar" href="#" ><i class="fas fa-user-times"></i></a> </td>
                        </td>
                    </tr>
                </tbody>

                <tbody class="tabla__body">
                    <tr class="tabla__row-body">
                        <td class="tabla__body-dato">Apellido3</td>
                        <td class="tabla__body-dato">Nombre3</td>
                        <td class="tabla__body-dato">33333333</td>
                        <td class="tabla__body-dato">usuario3</td>
                        <td class="tabla__body-dato">correo3@correo.com</td>
                        <td class="tabla__body-dato">
                            <a class="tabla__boton-editar" href="#"><i class="fas fa-edit"></i></a>
                            <a class="tabla__boton-eliminar" href="#" ><i class="fas fa-user-times"></i></a> </td>
                        </td>
                    </tr>
                </tbody>
            </table>  

        </div>  
    </main>

    <!--FOOTER-->
    <footer>
        <p id="derechos-info" class="derechos__info">Todos los derechos reservados</p>
        <div class="redes-sociales">
            <a href="#" class="redes-sociales__red"><i class="fab fa-github"></i> </a>
        </div>
    </footer>

</body>
</html>